@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    
    <section class="row" id="header-section" aria-labelledby="aspnetTitle">
        <h2 id="title">@ViewBag.Title</h2>
    </section>

    <section class="row" id="section1">

    </section>
</main>