@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" id="section1" aria-labelledby="aspnetTitle">
        <h1 id="title">See everything<br />To make sure you're ok</h1>
        <p>Book now for a consultation with some of our famous CT specialists<br /> and our state of the art technologies</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Book Now &raquo;</a></p>
    </section>

    <section class="row" id="section2">
        <section class="col-12 col-md-7" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Feel safe with our professional team</h2>
            <p>
                Our clinic is staffed with professionals who are renowned as the best in their respective fields.
                Learn more about our elite team by exploring their profiles below.
            </p>
            @Html.ActionLink("Learn more »", "ActionName", "ControllerName", null, new { @class = "btn btn-outline-dark" })
        </section>
        <section class="col-12 col-md-5" aria-labelledby="gettingStartedTitle">
            <img src="~/Content/image/icon_image/iStock-1329039896.jpg" width="100%" />
        </section>
    </section>
    <section class="row" id="section2">
        <section class="col-12 col-md-5" aria-labelledby="gettingStartedTitle">
            <img src="~/Content/image/icon_image/iStock-1329039896.jpg" width="100%" />
        </section>
        <section class="col-12 col-md-7" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Book Now</h2>
            <p>Book now for a consultation with our world renowned doctors. Otherwise, you can book your CT scan right now</p>
            @Html.ActionLink("Learn more »", "ActionName", "ControllerName", null, new { @class = "btn btn-outline-dark" })
        </section>
    </section>
</main>